.footer {
    border-top: 1px solid #20bf6b !important;
    margin: 10px;
}

#footerUl {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navName {
    font-size: 17px;
    text-decoration: none;
    color: #20bf6b !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #20bf6b !important;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}

.navName:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}
