.footer {
    border-top: 1px solid darkslategray;
    background-color: rgba(114, 189, 68, .7);
    height: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 40px;
}

#footerUl {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navName {
    font-size: 17px;
    text-decoration: none;
    color: darkslategray;
    text-transform: uppercase;
    background-color: WHITE;
    padding: 10px;
    border: 2px solid darkslategray;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}

.navName:hover {
    color: darkslategray;
    border-radius: 50px;
    border-color: white;
    transition: all 0.7s ease 0s;
}
