form{
    margin: auto;
    padding:20px;
   }
   
   
.textarea{
       width:450px;
       margin-top: 10px;
       height: 200px;
   }
.image{
       margin-bottom: 10px;
       width:450px;
   }
   
 .formtitle{
       width:450px;
   }

   .submit{
    margin-top: 10px;
   }
   