html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;
}

a{
    text-decoration-color:rgb(151, 84, 6)
}

#catCon{
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.appTitle{
    padding-top: 1px;
    height: 60px;
    text-align: center;
    color: rgb(232, 240, 204);
    background: rgb(110, 168, 72);
    border-bottom:double rgb(79, 145, 89);
}

.superCon{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
.mainCon{
    margin: auto;
    border: double rgb(31, 100, 18);
    background-image: url(https://images.unsplash.com/photo-1533499513792-8c4483a36c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2900&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.catName{
    font-size: 23px;
    background: rgba(238, 229, 164, .5);
    color: rgb(82, 110, 6);
    text-align: center;
    border-radius: 15px;
    text-decoration: rgb(187, 102, 6);
}

.subname{
    color:rgb(151, 84, 6);
    font-size: 19px;
    font-weight: bold;
}

.catdiv{
    margin: auto;
    font-size: 17px;
    text-decoration: none;
    color: darkslategray;
    text-transform: uppercase;
    background: rgba(114, 189, 68, .95);
    padding: 10px;
    border: 2px solid darkslategray;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 50px;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.CropTradeApp{
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
}