html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration-color:rgb(151, 84, 6)
}

#catCon{
    padding-top: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;

}

.superCon{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
.mainCon{
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1533499513792-8c4483a36c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2900&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
}

.catName{
    font-size: 23px;
    color: rgb(82, 110, 6);
    text-align: center;
    text-decoration: rgb(187, 102, 6);
    border-bottom: 2px solid darkslategray;
}

.subname{
    color:rgb(151, 84, 6);
    font-size: 19px;
    font-weight: bold;
}

.catdiv{
    margin: auto;
    font-size: 17px;
    text-decoration: none;
    color: darkslategray;
    text-transform: uppercase;
    background: rgba(114, 189, 68, .95);
    border: 2px solid darkslategray;
    border-radius: 4px;
    text-decoration: none;
    padding: 5%;
    text-align: center;
}

.CropTradeApp{
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
}

#homeH2 {
    width: 30%;
    font-size: 3em;
    color: darkslategray;
    background-color: rgba(114, 189, 68, .95);
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    padding: 15px;
    border: 2px solid darkslategray;
    border-radius: 6px;
}