html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

p{
    margin:0;
    
}

.listCon{
    margin:auto;
    height: 50em;
   background-image: url(https://i.pinimg.com/originals/46/de/8f/46de8f846dad6f2755b4e4a85a11370a.png);
   background-size: cover;
   background-repeat: no-repeat;
    border-radius: 10px;
}
.bodyCon{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.bodyCon2{
    margin: auto;
}

.topbar{
    display: flex;
}

.listsearchbar{
    width: 700px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-style: 25px;
}

.catname{
    text-transform: capitalize;
    color: rgb(82, 110, 6);
}

h1{
    color:rgb(151, 84, 6)
}

.gridLi{
    color:rgb(39, 37, 37);
}

.gridLi:hover{
    font-size: 18px;
    color: rgb(37, 119, 8)
}

.gridImage{
    width: 210px;
    height: 150px;
}

.grid{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(40, 66, 40);
    border-radius: 5px;
    margin:5px;
}
 .gridCon{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     overflow: scroll;
     height: 30em;
 }

 .gridMain{
     margin: auto;
     width: 70%;
 }

 .listLi {
    display: flex;
 }

 .listLi:hover {

 }

 .listImage {
    width: 10%;
    height: 10%;
 }

 .listiCon {    
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35em;
    overflow: scroll;
    border: 1px solid gray;
 }

.list {
}

 .listMain {
     background: none;
     width: 70%;
     margin: auto;
 }

 .postButtons {
     display: flex;
     justify-content: space-between;
     margin-top: 40px;
 }
 
 .toggleButton {
     background: darkslategray;
     color: white;
     width: 50px;
     height: 50px;
     margin: 20px;
 }

 .addpostButton {
    margin-left: auto;
    margin-right: auto;
 }

