html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

p{
    margin:0;
    
}

.listCon{
    margin:auto;
    width: 900px;
   background-image: url(https://i.pinimg.com/originals/46/de/8f/46de8f846dad6f2755b4e4a85a11370a.png);
   background-size: cover;
   background-repeat: no-repeat;
    border-radius: 10px;
    border: double gray;
}
.bodyCon{
    width: 700px;
    margin:auto;
}

.topbar{
    display: flex;
}

.listsearchbar{
    width: 700px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-style: 25px;
}

.catname{
    text-transform: capitalize;
    color: rgb(82, 110, 6);
    width: 150px;
}

h1{
    color:rgb(151, 84, 6)
}

.postLi{
    color:rgb(39, 37, 37);
}

.postLi:hover{
    font-size: 18px;
    color: rgb(37, 119, 8)
}

.gridimage{
    width: 210px;
    height: 150px;
}

.grid{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(40, 66, 40);
    border-radius: 5px;
    margin:5px;
}
 .gridCon{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     
 }

 .gridMain{
     margin: auto;
 }
