.loginStuff {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

    color: #20bf6b;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #20bf6b;
    border-radius: 4px;
    display: inline-block;
  }

.loginStuff:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
  outline: none;
  }

  #login {
    margin-bottom: 25%
  }

  #registerLink {
    margin-left: 50px;
  }