html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.postmainCon{
    margin: auto;
    padding-top: 10px;
    background-image: url(https://image.freepik.com/free-photo/abstract-color-clouds-sky-pastel-color-creative-colorful-color-background-abstract-gradation-color-pastel_6529-44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.postCon{
    width: 820px;
    padding: 30px;
    margin: auto;
    background-color: rgba(195, 199, 199, 0.3);
    border-radius: 10px;
}


.replybutton {
    width: 340px;
    margin: 0px 0px 20px 0px;
    background: rgb(123, 143, 230);
    border: 1px solid rgb(54, 29, 196);
    color: rgb(255, 255, 255);
    text-align: center
}

.descriptionCon {
    margin-top: 20px;
}

.photo{
    width:350px;
    margin-bottom: 20px;
}

.freshBy{
    margin:10px 0 10px 0;
    color: blue
}

#singleCat {
    border-bottom: 2px solid darkslategray;
}

#deleteButton {
    margin: auto;
}

.postDiv {
    max-height: 40em;
    overflow: scroll;
}