html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.postmainCon{
    width: 800px;
    margin: auto;
    padding-top: 10px;
    border: double grey;
    background-image: url(https://image.freepik.com/free-photo/abstract-color-clouds-sky-pastel-color-creative-colorful-color-background-abstract-gradation-color-pastel_6529-44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.postCon{
    width: 650px;
    padding: 10px;
    margin: auto;
    background-color: rgba(180, 184, 184, 0.4);
    border-radius: 10px;
    
}


.replybutton{
    width:50px;
    padding: 2px 10px 2px 10px;
    margin: 20px 0 20px 0;
    background: rgb(241, 239, 239);
    border: 1px solid rgb(12, 12, 12);
    color: rgb(68, 65, 65);

}

.photo{
    width:350px;
}

.freshBy{
    margin:10px 0 10px 0;
    color: blue
}
