html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.postmainCon{
    width: 800px;
    margin: auto;
    padding-top: 10px;
    border: double grey;
    background-image: url(https://image.freepik.com/free-photo/abstract-color-clouds-sky-pastel-color-creative-colorful-color-background-abstract-gradation-color-pastel_6529-44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.postCon{
    width: 820px;
    padding: 30px;
    margin: auto;
    background-color: rgba(195, 199, 199, 0.3);
    border-radius: 10px;
    
}


.replybutton{
    margin: 20px 0 20px 0;
    width: 340px;
    background: rgb(123, 143, 230);
    border: 1px solid rgb(54, 29, 196);
    color: rgb(255, 255, 255);
    text-align: center

}

.photo{
    width:350px;
    margin-bottom: 20px;
}

.freshBy{
    margin:10px 0 10px 0;
    color: blue
}

