html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.searchDiv {
}

#searchForm{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #20bf6b !important;

}
.search {
    width: 600px;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

    color: #20bf6b !important;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #20bf6b !important;
    border-radius: 4px;
    display: inline-block;
  }

.search:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
  outline: none;
  }

  .search:focus {
    outline: none;
  }

/* ul */
  .searchUL {
    list-style: none;   
    position: absolute;
    border: 1px solid #20bf6b !important;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 0px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70%;
    max-height: 50%;
  }

/* li */
  .searchItems {
    line-height: 30px;
    margin: 10px;
  }

  /* li link */
  .searchLink {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: gray;
  }

  .searchP {
    width: 300px;
    overflow: hidden;
  }

  /* li photo */
  .searchPhoto {
    width: 30px;
    height: 30px;
  }

  .searchButton {
    color: #20bf6b !important;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #20bf6b !important;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin: 0px 10px;
    }
    
    .searchButton:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }